<%- include("header") -%>
    <!-- Heading -->
    <div class="box" id="heading">
        <h1><%= listTipe %></h1>
    </div>
    
    <div class="box">
        <!-- items -->
        <% newListItem.forEach((record) => { %>
            <div class="item">
                <input type="checkbox" />
                <p><%= record.name %></p>
            </div>
        <% }) %>
        
        <!-- Form -->
        <form class="item" action="/" method="post">
            <input type="text" name="newItem" autofocus placeholder="New Item" autocomplete="off"/>
            <button type="submit" name="list" value="<%= listTipe %>">+</button>
        </form>
    </div>
<%- include("footer") -%>