<%- include("header") -%>
    <!-- Heading -->
    <div class="box" id="heading">
        <h1><%= listTipe %></h1>
    
        <!-- items -->
        <% newListItem.forEach((record) => { %>
            <form action="/delete" method="post">
                <div class="item">
                    <p><%= record.name %></p>
                    <button class="deleteButton" type="submit" name="checkbox" value="<%= record._id %>">DELETE</button>
                </div>
                <input type="hidden" name="listName" value="<%= listTipe %>"></input>
                <input type="hidden" name="itemName" value="<%= record.name %>"></input>
            </form>
        <% }) %>

        <!-- Form -->
        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off"/>
            <button class="submitButton" type="submit" name="list" value="<%= listTipe %>">Add item</button>
        </form>
    </div>
<%- include("footer") -%>